.project {
  background-color: #f3f5f8;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  padding: 50px 0;
  position: relative;
}

.project h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 30px;
}

.project-container {
  grid-template-columns: auto auto;
  display: grid;
  grid-gap: 20px;

}
