.project {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  position: relative;
  height: 330vh;
}

.project h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 30px;
  padding-top: 100px;
}

.project-container {
  grid-template-columns: auto auto;
  display: grid;
  grid-gap: 20px;
  
}
