.work-item {
  position: relative;
  padding-left: 60px;

}

.work-item:not(:last-child) {
  margin-bottom: 50px;
}

.work-item::before {
  content: "";
  position: absolute;
  inset-block: 0;
  left: 20px;
  border-left: 1.5px solid white;
}

.work-icon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-icon img{
  width: 80%;
  z-index: 9999;
}

.work-date {
  padding: 2px 15px;
  border-radius: 20px;
  font-size: 13px;
  background: rgba(178, 180, 180, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

.work-title {
  font-size: 20px;
  margin-block: 20px 10px;
  color: #064aac;
}

.work-desc {
  font-size: medium;
  line-height: 1.5;
}
