.contacts {
  padding: 50px 0;
  position: relative;
}

.contacts h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.contacts h4 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.navbar-text {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: inline-block;
}

.social-media a {
  width: 60px;
  height: 60px;
  display: inline-flex;
  line-height: 1;
  text-align: center;
  margin: 50px 20px 20px 20px;
}

.social-media a::before {
  content: "";
  position: absolute;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-media a:hover::before {
  transform: scale(2);
}

.social-media a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast((86%));
}

.social-media a img {
  width: 95%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.contacts img {
  animation: updown 10s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-25px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.black {
  color: #000000;
}

.form-container {
  margin: 20px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contact-btn {
  margin: 20px 0 20px 0;
}