.leadership {
  background-color: #f3f5f8;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  padding: 50px 0;
  position: relative;
}

.leadership h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.leadership h5 {
  font-size: 25px;
  font-weight: 700;
}

.leadership h3 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 700;
}

.leadership p {
  padding: 2px;
  font-size: 16px;
}


.carousel-container {
  border: 2px solid green;
  height: 60%;
  position: relative;
}

.gon {
  height: 120px;
  background: url("https://i.imgur.com/IEiqEV0.jpg") no-repeat 50% 50%;
  background-size: 220px 220px;
  line-height: 220px;
  text-align: center;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
  margin: 0.04px;
}

.gon:hover {
  color: #fff;
  text-shadow: 0 0 10px white;
}

.hexa {
  width: 120px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  
}

.row {
  margin-left: 0;
  margin-right: 0;
}