.banner {
  margin: 0;
  padding-top: 150px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.banner h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 30px;
  display: block;
}

.banner p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 2rem;
  width: 96%;
  margin-bottom: 25px;
}

.banner button {
  font-weight: 700;
  font-size: 20px;
  margin-top: 50px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.banner-icon {
  display: inline-block;
}

.social-media-icon {
  display: inline-block;
}

.social-media-icon a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  line-height: 1;
  text-align: center;
  margin: 20px;
}

.social-media-icon a::before {
  content: "";
  position: absolute;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-media-icon a:hover::before {
  transform: scale(2);
}

.social-media-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast((86%));
}

@keyframes updown {
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-25px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.banner img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.banner-img {
  width: 100%;
  
}
/* .banner-img-container {
  width: 100%;
} */

.a {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}